.title{
    font-family: 'Playfair Display', serif;
}

.intro-text{
    margin-bottom: 35px;
}
.intro-text-box{
    text-align: center;
    border: 3px solid #68647db4;
    border-radius: 20px;
    height: 640px;
}

.validationn{
    font-weight: 300;
    color: rgba(255, 47, 0, 0.962) !important;
    display: none;
    text-align: left;
    margin-left: 35%;
}

